table {
	border-collapse:collapse;
}
table td {
	width: 160px;
	height: 60px;
	border: 10px solid black;
}
.block {
	border-bottom: none;
	border-top: none;
}
.black {
	background-color: black;
}
.yellow {
	background-color: yellow;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue; 
}