.header {
	width: 100%;
	height: 36px;
	background-image: url(../img/header.png);
	font-family: 'Tahoma', Arial, sans-serif;
}

.right_menu li a {
	float: right;
	padding: 11px 10px;
	font-size: 14px;
	color: #ffffff;
}
.right_menu li:nth-child(1) {
	margin-right: 20px;
}
.right_menu li a:hover {
	background-image: linear-gradient(#51b1dc, #2e7ac4);
	border: 1px solid #489bd5;
	border-top: none;
}

.left_menu li a {
	float: right;
	padding: 11px 10px;
	font-size: 14px;
	text-decoration: none;
	color: #60b5ed;
}
.left_menu li a:hover {
	background-color: #4eabda;
	color: #ffffff;
}
.content {
	height: 1080px;
	width: 100%;
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
}
.register {
	position: absolute;
	top:247px;
	left: 353px;
	width: 560px;
	height: 62px;
	background-color:  rgba(0,0,0,0.6);
}
.register p {
	font-size: 24px;
	color: #fff;
	text-align: center;
	line-height: 60px;
}
.register_form {
	position: absolute;
	top:311px;
	left: 353px;
	height: 548px;
	width: 560px;
	background-color:  rgba(0,0,0,0.6);
}