body {
	border-bottom: 3px solid black;
	background: #eeeeee;
	font-family: 'Times New Roman', Times, serif;
}
.wrapper {
	width: 512px;
	background: #fff;
	box-shadow: 0 0 3px rgba(0,0,0,0.5); #D3D3D3;
	margin: 0 auto 45px auto;
	padding: 50px;	
}
h1 {
	text-align: center;
    font-size: 24px;  
}
img {
	width: 200px;
	border-radius: 15px; 
}
.wrapper div {
    padding-left: 55px;
    border-bottom: 1px solid black;
}
li {
	padding: 5px;
}
p, li{
	text-align: left;
	font-size: 20px;
    font-weight: 400;
}
div.feedback {
	border-bottom: none;
}
.foto {
	text-align: center;
}
ul {
	padding-left: 20px;
}
.hobby p {
	margin-bottom: 30px;
}
.contact1 {
	margin-bottom: 0px;
}
.contact2 .contact4 {
	margin-top: 10px;
}
.contact3 {
	margin-top: 30px;
	margin-bottom: 0px;
}
.feedback1 {
	margin-bottom: 10px;
}
.feedback2 {
	margin-top: 10px;
}